<!DOCTYPE html>
<html>
	<script src="lib/angular.js"></script>
	<link rel="stylesheet" href="lib/bootstrap/3.2.0/css/bootstrap.min.css">
	<body>

		<div ng-app="mapping" ng-controller="mapCtrl">


			<div class="jumbotron">
				<h1>Customer Mapping</h1>
				<p>A demonstration of a Google Maps integration using JavaScript, Angular, AJAX and a JSON data source.</p>
				<form class="form-group">
					<div class="row">
						<span >Enter a start address for journey distance/time to be displayed</span>
					</div>
					<div class="row">
						<input type="text"  class="col-sm-3" ng-model="gmaps.startAddressDraft" placeholder="e.g. London, UK"/>
						<button  class="col-sm-1 btn-success" ng-click="gmaps.clickBtnStartAddress()" >Go</button>
						<input type="hidden" ng-model="gmaps.startAddress" />
					</div>
				</form>
			</div>

		 	<div class="container">
		 		<div class="row">

				 	<div id="input" class="col-sm-7">
						<table class="table">
							<tr>
								<th></th>
								<th>Customer Name</th>
								<th>Location</th>
								<th>Journey distance</th>
								<th>Journey time</th>
							</tr>

							<tr ng-repeat="customer in customers">
								<td>{{customer.markerIndex}}</td>
								<td>{{customer.Name}}</td>
								<td>{{customer.City}}, {{customer.Country}}</td>
								<td>{{customer.journeyDistance | gMapsDistance}}</td>
								<td>{{customer.journeyTime | gMapsTime}}</td>
							</tr>
						</table>
					</div>

					<div id="output" class="col-sm-5">
						<div id="map">
						</div>
					</div>

				</div>
			</div>

		</div>

	</body>

	<script src="js/appMapping.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuid2pFOtiwQSEzazrQj9CZUiNxb7rvkY&callback=initMap"></script>


	<link rel="stylesheet" href="css/appMapping.css" />
</html>
